$color__neutral--light: #f5f5f5;
$color__neutral: #4e4d48;
$color__purple: #856687;
$color__purple--dark: #49134b;
$color__pink: #fcd9fb;
$color__pink--dark: #d6b8d5;
$color__blue: #adeafd;
$color__blue--dark: #73ddfc;
$color__salmon: #ffece6;
$color__salmon--dark: #fcbcab;
$color__green: #c6fcab;
$color__green--dark: #a8d691;
$color__yellow: #ffe191;
$color__yellow--dark: #f4d06b;
